@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.price {
    width: 100%;

    &__prices {
        display: flex;
        justify-content: center;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            border-bottom: 1px solid #999999;
            width: 100%;
            top: 0;
            z-index: -5;
        }

        &-wrapper {
            max-width: 1156px;
            display: flex;
            justify-content: center;
        }
    }

    &__left {
        max-width: 274px;
        background-color: #6699FF;
        padding: 34px 25px 47px 27px;
        margin-right: 10px;

        @include phones {
            padding: unset;
            margin-right: unset;
        }

        @include phones {
            max-width: unset;
            width: 100%;
        }

        &__list {
            margin-bottom: 87px;
        }

        &__item {
            position: relative;
            margin-bottom: 35px;

            @include phones {
                margin-bottom: 0;
                display: flex;
                flex-direction: column;
            }
            &:last-child {
                margin-bottom: 0;
            }

            &--active {
                -webkit-animation: fadeIn 250ms ease-in-out both;
                animation: fadeIn 250ms ease-in-out both;
                &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    width: 7px;
                    height: 10px;
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 7 10' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.4 0L6.3 4.9L1.4 9.9L0 8.4L3.5 4.9L0 1.4L1.4 0Z' fill='white'/%3e%3c/svg%3e");
                    transform: translateY(-50%);
                }
            }

            &--active > .price__left__link {
                border-bottom: 1px solid #ffffff;
                @include phones {
                    border-bottom: unset;
                }
                & > .price__left__link-text {
                    font-family: $font;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    color: #ffffff;
                    text-transform: uppercase;
                }
            }

            @include phones {
                &--active > .price__left__expand {
                    display: flex;
                }
                &--active {
                    .price__left__link-text {
                        border-bottom: 1px solid #ffffff;
                    }
                }
            }
        }

        &__link {
            @include phones {
                height: 70px;
                display: flex;
                align-items: center;
                padding-left: 20px;
            }

            &-text {
                font-family: $font;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                color: #ffffff;
                text-transform: uppercase;
            }
        }

        &__desc {
            margin-bottom: 45px;

            @include phones {
                padding-left: 20px;
                padding-right: 20px;
            }
            &-img {
                width: 100%;
                height: 100%;
                margin-bottom: 10px;
            }
            &-pic {
                width: 31px;
                height: 31px;
                fill: #ffffff;
            }

            &-text {
                font-family: $font;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0em;
                color: #ffffff;
            }
        }

        &__download {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include phones {
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 20px;
            }

            &-link {
                margin-bottom: 5px;
            }
            &-text {
                font-family: $font;
                font-size: 15px;
                font-style: normal;
                font-weight: bold;
                line-height: 20px;
                color: #ffffff;
                border-bottom: 1px dashed #ffffff;
                text-transform: uppercase;
            }
            &-date {
                font-family: $font;
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 20px;
                color: #ffffff;
                opacity: 0.65;
            }
        }

        &__expand {
            display: none;
            @include phones {
                //display: flex;
                flex-direction: column;
            }

            &__item {
                width: 100%;
                //height: 70px;
                display: flex;
                align-items: center;
                padding-top: 10px;
                padding-bottom: 10px;

                &:nth-child(odd) {
                    background-color: #F2F2F2;
                }
                &:nth-child(even) {
                    background-color: #F9F9F9;
                }
            }

            &__row {
                padding-left: 20px;
                padding-right: 20px;

                &-1 {
                    margin-bottom: 5px;
                    font-size: 14px;
                }
                &-2 {
                    display: flex;
                    justify-content: space-between;

                    & > span {
                        &:first-child {
                            color: #1a1a1a;
                        }
                        &:last-child {
                            font-weight: 400;
                            color: #b8b8b8;
                        }
                    }
                }                
            }

            &__link {
                width: 100%;
                font-family: $font;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 21px;
                color: #4D4D4D;
                &:hover {
                    color: #6699FF;

                    .price__left__expand__row-2 > span {
                        color: #6699FF;
                    }
                }
                
            }
        }
    }
}

